# Ignore everything
*
# Don't ignore directories, so we can recurse into them
!*/
# Don't ignore .gitignore and *.foo files
!.gitignore
!*.slx
!*.mdl
!*.md
!*.txt
!README
!*.mat
!*.m
system_pad.txt
msgs.txt
bram_flist.txt
blk_mem_gen*.txt
core_info.m
bram_readme.txt